html {
    background: url(../img/fondo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

.button {
    background-color:  #00b1b9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

    button:hover {
        opacity: 0.8;
    }


.login {
    margin: 20px auto;
    width: 100vh;
}

.login-screen {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

.app-title {
    text-align: center;
    color: #777;
}
