@model CheckLifeWeb.Models.Medico

@{
    ViewData["Title"] = "Medico";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/general.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>CheckLife</title>
</head>
<body>

    <h2>Hola @Model.Nombre</h2>

    <div class="card-deck">
        @* CALENDARIO DE VACUNAS *@
        <div class="card">
            <div class="text-center">
                <div class="wl-container">
                    <img src="~/img/Iconos/calendarioVAcuna.jpg" alt="Avatar">
                    <h3 class="wl-text">Calendario de Vacunas</h3>
                </div>
                <a href="https://bancos.salud.gob.ar/sites/default/files/2020-10/calendario-nacional-vacunacion-2020.pdf"
                   target="_blank"
                   class="wl-button wl-block wl-color">
                    + Connect
                </a>
            </div>
        </div>
        @* LISTA DE PACIENTES *@
        <div class="card">
            <div class="text-center">
                <div class="wl-container">
                    <img src="~/img/Iconos/pacientes.jpg" alt="Avatar">
                    <h3 class="wl-text">Pacientes</h3>
                </div>
                <a class="wl-button wl-block wl-color" asp-action="Pacientes">
                    + Connect
                </a>
            </div>
        </div>
        @* PERFIL DEL MEDICO *@
        <div class="card">
            <div class="text-center">
                <div class="wl-container">
                    <img src="~/img/Iconos/perfilMedico.jpg" alt="Avatar">
                    <h3 class="wl-text">Perfil</h3>
                </div>
                @*<a class="wl-button wl-block wl-color" asp-action="Perfil">
                    + Connect
                </a>*@
            </div>
        </div>

    </div>


</body>
</html>