@model CheckLifeWeb.Models.Medico;
@{
    ViewData["Title"] = "Registrar Medico";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/estilos.css">
    <link rel="stylesheet" href="~/css/general.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style type="text/css">
        .desactivado {
            display: none;
        }
    </style>

    <title>Registrar</title>
</head>
<body>

    <div>
        <div class="login-screen">
            <div class="container ">
                <div class=" bg-1 text-center">
                    <img src="~/Img/registro.png" class="img-circle" alt="Bird" width="150" height="150">
                    <div class="app-title">
                        <h2>Registrar Medico</h2>
                    </div>
                </div>

                @if (ViewBag.MsjError != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        @ViewBag.MsjError
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }

                <div id="AlertError" class="alert alert-danger alert-dismissible fade show desactivado" role="alert">
                    <label id="Error">Las contraseña no coinciden</label>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div>
                    <form method="post"
                          action="RegistrarMedico"
                          onsubmit="return Validar()">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input id="Nombre"
                                   name="Nombre"
                                   class="form-control"
                                   placeholder="Nombre"
                                   type="text"
                                   required />
                        </div>

                        <div class="form-group">
                            <label>Apellido</label>
                            <input id="Apellido"
                                   name="Apellido"
                                   class="form-control"
                                   placeholder="Apellido"
                                   type="text"
                                   required />
                        </div>

                        <div class="form-group">
                            <label>DNI</label>
                            <input id="DNI"
                                   name="DNI"
                                   class="form-control"
                                   placeholder="DNI"
                                   type="number"
                                   required />
                        </div>

                        <div class="form-group">
                            <label>Matricula</label>
                            <input id="Matricula"
                                   name="Matricula"
                                   class="form-control"
                                   placeholder="Matricula"
                                   type="number"
                                   required />
                        </div>

                        <div class="form-group">
                            <label>Fecha de Nacimiento</label>
                            <input id="FechaNacimiento"
                                   name="FechaNacimiento"
                                   class="form-control"
                                   placeholder="Fecha de Nacimiento"
                                   type="date"
                                   required />
                        </div>

                        <div class="form-group">
                            <label>Edad</label>
                            <input id="Edad"
                                   name="Edad"
                                   class="form-control"
                                   placeholder="Edad"
                                   type="number"
                                   required />
                        </div>

                        <div class="form-group">
                            <label>Nacionalidad</label>
                            <select class="form-control" asp-for="NacionalidadID"
                                    asp-items="@(new SelectList(ViewBag.Nacionalidades, "ID", "Descripcion"))" required>
                            </select>

                        </div>

                        <div class="form-group">
                            <label>Telefono</label>
                            <input id="Telefono"
                                   name="Telefono"
                                   class="form-control"
                                   placeholder="Telefono"
                                   type="tel"
                                   required />

                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <input name="Email"
                                   class="form-control"
                                   placeholder="Email"
                                   type="email"
                                   required />
                        </div>


                        <div class="form-group">
                            <label>Usuario</label>
                            <input name="User"
                                   class="form-control"
                                   placeholder="Usuario"
                                   type="text"
                                   required />
                        </div>

                        <div class="form-group">
                            <label>Contraseña</label>
                            <input id="Password"
                                   name="Password"
                                   class="form-control"
                                   placeholder="Contraseña"
                                   type="password"
                                   required />
                        </div>

                        <div class="form-group">
                            <label>Verificar Contraseña</label>
                            <input id="VerificarPassword"
                                   name="VerificarPassword"
                                   class="form-control"
                                   placeholder="Verificar Contraseña"
                                   type="password"
                                   required />
                        </div>


                        <div class="form-group text-center">
                            <input type="submit"
                                   class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true"
                                   value="Crear" />
                        </div>
                    </form>
                </div>

                <div class="text-center"><a asp-action="Registrar">Volver</a></div>
            </div>

        </div>
    </div>


    <script type="text/javascript" src="~/js/registroFunciones.js"></script>

</body>
</html>